*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Helvetica Neue", sans-serif;
    text-decoration: none;
}

.products-section,
.footer-section,
.search-box,
.logCart {
    contain: layout paint;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('https://fonts.cdnfonts.com/fonts/helvetica-neue-55/HelveticaNeue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

